.footerWrapper {
  margin: 2rem auto;
  max-width: calc(100% - 3rem);
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.footerText {
  text-align: center;
}

@media (min-width: 600px) {
  .footerWrapper {
    max-width: calc(100% - 4rem);
  }

  .footerContainer {
    flex-direction: row;
    align-items: flex-start;
  }
}

@media (min-width: 960px) {
  .footerWrapper {
    margin: 4.5rem auto;
    max-width: calc(100% - 6rem);
    font-size: 1.125rem;
  }

  .footerContainer {
    align-items: flex-end;
  }
}

@media (min-width: 1280px) {
  .footerWrapper {
    max-width: calc(83.334% - 6rem);
  }
}

@media (min-width: 1920px) {
  .footerWrapper {
    max-width: calc(66.66% - 6rem);
  }
}
