.input {
  padding: 1.25rem 1rem 0.25rem;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: inherit !important;
  appearance: none;
  color: inherit;
  background: transparent;
  border: 0px solid transparent;
  border-radius: 0.25rem;
}

.input:focus {
  outline: #ffffff 2px solid;
  outline-offset: 2px;
}

@media (min-width: 600px) {
  .input {
    padding: 1.5rem 1rem 0.5rem;
  }
}

/* We slow down the standard styles that the browser applies to an element */
/* during autofill for a day so that the element matches the overall style of the site */
.input:-webkit-autofill,
.input:autofill {
  transition-property: background-color, color;
  transition-duration: 86400s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
  background-image: none !important;
}

/* Expose a hook for JavaScript when auto fill is shown. */
/* JavaScript can capture 'animationstart' events */
.input:-webkit-autofill,
.input:autofill {
  animation-name: autoFillStart;
}

.input:not(-webkit-autofill),
.input:not(autofill) {
  animation-name: autoFillCancel;
}

@keyframes autoFillStart {
  from {
    background-color: #161616b3;
  }

  to {
    background-color: #465a7e66;
  }
}

@keyframes autoFillCancel {
  from {
    background-color: #161616b3;
  }

  to {
    background-color: #465a7e66;
  }
}
