@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
}

.fonts {
  font-family: var(--font-roboto), var(--font-ubuntu), sans-serif;
}

.select {
  appearance: none;
  color: #ffffff;
  background: transparent;
  border-radius: 0.25rem;
}

.select:focus {
  outline: #ffffff solid 2px;
  outline-offset: 2px;
}
