.input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.5625rem;
  height: 1.5625rem;
  appearance: none;
  outline: none;
  cursor: pointer;
  position: relative;
  border: 1px solid #b3b3b3;
  border-radius: 50%;
  background-color: #000000;
}

.input:hover {
  border-color: #ffffff;
}

.input:focus-visible {
  box-shadow: 0 0 5px 2px #ffffff99;
}

.input:checked:hover {
  border-color: #b3b3b3;
}

.input::before {
  display: block;
  content: "";
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
}

.input:checked::before {
  background-color: #ffffff;
}
